<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/email" method="POST">
    <input type="text" name="from" required placeholder="from">
    <input type="text" name="to" required placeholder="TO">
    <input type="text" name="subject" required placeholder="subject">
    <input type="text" name="text" required placeholder="text">
    <button type="submit">Submit</button>
</form>
    
</body>
</html>